<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<File name="Logs" fileName="target/logs/logs-${date:yyyy-MM-dd}">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss.SSS} [%t] %level - %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="Logs" />
		</Root>
	</Loggers>
</Configuration>